<h1>All Menu Items</h1>
<ul>
  <% @items.each do |item| %>
  <li>
  <%= link_to item.name, item_path(item) %> - $<%= item.price %>
</li>
  <% end %>
  <%= link_to "Add New Menu Item", new_item_path %>
</ul>
